 <form action="http://localhost:5000/input" method = "POST" name ="input text" style="border:1px solid #ccc">
  <div class="container">
    <h1>Text summarization and classification (page 1)</h1>
    <p>Please enter text to summarize/classify</p>
    <hr>
    <b>Article</b>
    <textarea rows="15" cols="100" placeholder="Enter article to summarize and classify...." name="input article" required>
    </textarea>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Submit text</button>
    </div>
  </div>
</form> 
